.landing-page {
  min-height: 100%;
  display: flex;
  margin: auto;
  background: url('/assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 0%;
  opacity: 0;
  overflow: hidden;
  width: 100%;

  @media (min-width: 768px) {
    min-height: 470px;
    width: 290px;
    border-radius: 50px 50px 0px 50px;
  }

  .color-overlay-secondary {
    width: 100%;
    opacity: 0;
    display: flex;
    @include grad();
    transform: translateY(25px);

    @media (min-width: 768px) {
      border-radius: 50px 50px 0px 50px;
    }

    .login {
      width: 70%;
      opacity: 0;
      display: flex;
      flex-direction: column;
      padding: 25px;
      justify-content: flex-end;
      margin: 0 auto;

      p {
        padding: 5px 7px;
        border: 1px solid transparent;
        color: $white;
        text-align: center;
      }

      form {
        display: flex;
        flex-direction: column;

        .btn-wrap {
          margin: 5px;
          padding: 5px;
          text-align: center;
        }

        input {
          opacity: 0;
          font-family: $font;
          border-top: none;
          border-left: none;
          border-right: none;
          border-bottom: 1px solid $text;
          position: relative;
          margin: 5px;
          padding: 5px;
          background: transparent;
          outline: none;
          font-size: 16px;
          border-radius: 2px;
          background: transparent;
          color: $white;
          transform: translateY(25px);
        }

        button {
          opacity: 0;
          transform: translateY(25px);
        }
      }
    }
  }
}
