.profile {
  width: 100%;
  height: 75%;
  position: relative;
  left: -100%;
  z-index: 1;
  display: flex;

  ul {
    display: flex;
    position: relative;
    padding: 10px;
    margin: auto;
    flex-direction: column;

    li {
      opacity: 0;
      position: relative;
      left: -100%;
      position: relative;
      opacity: 0;
      padding: 25px;
      width: 100px;
      text-align: center;
      font-family: $font;
      text-transform: uppercase;
      display: inline-block;
      margin: auto;
      color: $active;
      cursor: pointer;
      border-radius: 4px;

      &:hover {
        color: $light;
      }
    }
  }
}
