.users-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;

  .users-container {
    display: flex;
    align-self: center;
    flex-direction: column-reverse;
  }
}
