.button {
  text-align: center;
  display: inline-block;
  cursor: pointer;
  max-height: 25px;
  position: relative;
  outline: none;
  border: none;
  margin: 5px;
  padding: 5px 0px 5px 0px;
  width: 75px;
  background: none;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: $font;
  overflow: hidden;
  color: $white;
  border: 1px solid $white;

  &:hover {
    background: $white;
    color: $active;
    transition: 0.15s all ease-in-out;
    font-weight: bold;
  }
}
