html, body{
  padding: 0;
  margin: 0;
}

html{
  height: 100%;
}

body{
  height: 100%;
}

#root{
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background: $dark;

  .page {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;

    .home {
      flex: 1;
      align-self: center;
      text-align: center;

      button {
        background: #c7c7c7;
        border-radius: 2px;
        padding: 10px;
      }
    }
  }

  .loader {
    width: 100%;
    height: 100%;
    display: flex;
    background: black;
    z-index: 999;
    position: absolute;

    div {
      width: 150px;
      height: 150px;
      display: flex;
      margin: auto;
      background: red;
      border-radius: 50%;
    }
  }
}
