.nav-container {
  opacity: 0;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 100px;
  height: 100px;
  display: flex;
  overflow: hidden;
  z-index: 1;

  @media (min-width: 1200px) {
    max-width: 400px;
  }

  .notifSwitch {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 20px;
    bottom: 20px;
    width: 150px;
    opacity: 0;
    text-align: center;

    .sw {
      display: flex;
      flex-direction: column;

      p {
        margin: 5px 0px;
      }

      .switch {
        border: 1px solid #2a2c2b;
        width: 100px;
        height: 25px;
        position: relative;
        margin: 0 auto;
        background: rgb(236, 240, 241);

        .inner-switch {
          transition: 0.5s right ease-in-out;
          right: 50px;
          position: absolute;
          height: 25px;
          width: 50px;
          background: rgb(236, 240, 241);

          div {
            line-height:25px;
            color: white;
            font-weight: bold;
          }
        }
      }
    }
  }

  .openSwitch {
    width: 60px;
    height: 60px;
    right: 20px;
    bottom: 20px;
    position: absolute;
    background: url('/assets/menu-open.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 50%;
    background-position: 0% 50%;
    transform: rotateZ(-90deg);
  }

  .closeSwitch {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    background: url('/assets/menu-close.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 100% 50%;
    transform: rotateZ(90deg);
  }

  ul {
    position: relative;
    padding: 10px;
    margin: auto;
    flex-direction: column;
    display: none;

    a {

      li {
        position: relative;
        opacity: 0;
        padding: 25px;
        width: 100px;
        text-align: center;
        font-family: $font;
        text-transform: uppercase;
        display: inline-block;
        margin: auto;
        color: $active;
        cursor: pointer;
        border-radius: 4px;

        &:hover {
          color: $light;
        }
      }

      &:hover {
        color: $light;
        font-weight: bold;
      }

      &.active {

        li {
          color: $light;
          font-weight: bold;
        }
      }
    }
  }
}
