h1 {
  font-family: $font;
  margin: 0;
  padding: 0;
}

p {
  font-family: $font;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;

  &:focus {
    outline: none;
  }

  &:active {
    color: inherit;
  }
}
