$dark: rgba(30,30,32,1);
$light: rgba(220,53,34,1);
$white: rgba(236,240,241,1);
$yellow: rgba(255,240,165,1);
$text: rgba(55,65,64,1);
$active: rgba(42,44,43,1);

$font: 'Quicksand', sans-serif;

//mixins

@mixin grad() {
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, $dark 45%, rgba(0,0,0,1) 90%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,$dark 45%,rgba(0,0,0,1) 90%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,$dark 45%,rgba(0,0,0,1) 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
}
